:root {
  --color-principal-100: #7A85C1;
  --color-principal-500: #3B38A0;
  --color-secundario-100: #929292;
  --color-mezcla-500: linear-gradient(to right, #3B38A0, #1A1950);
}

.gradiente {
  background: var(--color-mezcla-500);
  transition: 0.3s;
}

h1 {
  font-size: 5.2em;
  line-height: 1.1;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(1rem, 3vw, 2rem);
}

.simple-card {
  text-align: start;
  background: #fff;
  width: 280px;
  border-radius: 20px;
  padding: 3rem 2.5em;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.400);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.simple-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.200);
}

.simple-card .icon {
  font-size: 2.5rem;
  color: var(--color-secundario-100, #000);
  margin-bottom: 1.5rem;
}

.simple-card h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #111;
  font-weight: 500;
}

.simple-card h4 {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.4;
}

